@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer utilities {
  :root {
    --gradient-background: linear-gradient(to bottom, #ffffff, #dee9f8);
    --accent: #699aff;
    --accent-foreground: #ffffff;

    --secondary: #ffffff;
    --secondary-foreground: #000000;
    --secondary-foreground-muted: #dadada;

    --success: #84bb99;
    --warning: #ffbe3f;
    --error: #ca5359;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  } */

  body {
    color: var(--foreground);
    background: linear-gradient(to bottom, var(--secondary), #dee9f8);
    width: 100vw;
    height: 100vh;
    font-family: Inter, sans-serif;
  }

  .text-balance {
    text-wrap: balance;
  }
}
