@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer base {
  @theme {
    --color-accent: #699aff;
    --color-accent-foreground: #ffffff;

    --color-secondary: #ffffff;
    --color-secondary-foreground: #000000;
    --color-secondary-foreground-muted: #dadada;

    --color-success: #84bb99;
    --color-warning: #ffbe3f;
    --color-error: #ca5359;
  }

  body {
    color: var(--color-secondary-foreground);
    background: linear-gradient(to bottom, var(--color-secondary), #dee9f8);
    width: 100vw;
    height: 100vh;
    font-family: Inter, sans-serif;
  }
}
